{% extends "layout.html" %}

{% block title %}
Benedict | Menu
{% endblock title %}

{% block content %}

<h2 id="menuHeader">Finger licking good</h2>

<h3>Menu</h3>

<h4>Starter</h4>
<ul>
    <li>MUSHROOMS MIX---------------------------------------------- 38 NIS</li>
    <li>HALLOUMI--------------------------------------------------- 39 NIS</li>
    <li>CAMEMBERT CHEESE------------------------------------------- 43 NIS</li>
    <li>TOWER OF BABEL--------------------------------------------- 35 NIS</li>
</ul>

<h4>Main</h4>
<ul>
    <li>Shakshuka ---------------------------------------------- 65 NIS</li>
    <li>BENEDICT BRUNCH-BURGER ----------------------------------- 69 NIS</li>
    <li>ISRAELI BREAKFAST ---------------------------------------- 74 NIS</li>
    <li>AVOCADO BAGEL BREAKFAST --------------------------------- 59 NIS</li>
    <li>PANCAKES ----------------------------------------------- 39/41 NIS</li>
</ul>

<h4>Drinks</h4>

<h6>Beer & Sparklings</h6>
<ul>
    <li>CRAFT BEER --------------------------------------------- 24 NIS</li>
    <li>SARTORI PROSECCO BRUT ----------------------------------- 87 NIS</li>
</ul>

<h6>JUICES</h6>
<ul>
    <li>ORANGE ------------------------------------------------- 16 NIS</li>
    <li>CARROT ------------------------------------------------- 16 NIS</li>
</ul>

<h6>HOT BEVERAGES</h6>
<ul>
    <li>CAPPUCCINO/LARGE ---------------------------------------- 16/13 NIS</li>
    <li>AMERICANO ----------------------------------------------- 13 NIS</li>
    <li>TEA/FLAVORED TEA ---------------------------------------- 12 NIS</li>
    <li>ESPRESSO/DOUBLE ----------------------------------------- 11/9 NIS</li>
</ul>

{% endblock content %}
